.header {
    text-align: center;
}

.body {
    width: 800px;
    margin: auto;
}

.body canvas {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    
    margin: auto;
    display: block;
    
    image-rendering: pixelated;
}

